<!DOCTYPE html>
{% extends 'school/base.html' %}
{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Hello, Student</h1>
  <p class="lead">Welcome to School Management System.</p>
  <hr class="my-4">
  <p>You can access various features after Login.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">New Admission</a>
    <a class="btn btn-primary btn-lg" href='{% url "login" %}'role="button">Login</a>
  </p>
</div>

{% endblock content %}